<% include ./header %> 
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <img src="/images/download (1).jpeg" alt="">
    <img src="/images/download.jpeg" alt="">
    <img src="/images/download.png" alt="">
  </body>
</html>

<% include ./footer %> 
